{% set configuration = pattern_configuration('foo_settings', '', 'config') %}
{{ dump(configuration) }}
<div style="border: 1px solid blue">
    <div class="textfield">Textfield: {{ textfield }}</div>
    <div class="number">Number: {{ number }}</div>
    <div class="token">Token: {{ token }}</div>
    <div class="boolean">Boolean: {{ boolean }}</div>
    <div class="url">Url: {{ url }}</div>
    <div class="select">Select: {{ select }}</div>
    <div class="enumeration">Enumeration: {{ enumeration }}</div>
    <div class="checkboxes">Checkboxes: {% for i in checkboxes %}  {{- i -}} {% endfor %}</div>
    <div class="attributes">Attributes: {{ attributes }}</div>
    <div class="config">Configuration: {{ configuration }}</div>
    <div class="colorwidget">Colorwidget: {{ colorwidget }}</div>
    <div class="group_sub">Group sub: {{ group_sub }}</div>
</div>
{{ media_library }}
{{ variant }}
{{ dummy }}
