
<div style="border: 1px solid blue">
    <div class="textfield">Textfield: {{ textfield }}</div>
    <div class="token">Token: {{ token }}</div>
    <div class="boolean">Boolean: {{ boolean }}</div>
    <div class="boolean">Url: {{ url }}</div>
</div>

{{ dummy }}