
<div style="border: 1px solid blue">
    <div class="textfield">Textfield: {{ textfield }}</div>
    <div class="number">Number: {{ number }}</div>
    <div class="token">Token: {{ token }}</div>
    <div class="boolean">Boolean: {{ boolean }}</div>
    <div class="url">Url: {{ url }}</div>
    <div class="select">Select: {{ select }}</div>
    <div class="checkboxes">Checkboxes: {% for i in checkboxes %}  {{- i -}} {% endfor %}</div>
    <div class="attributes">Attributes: {{ attributes }}</div>
</div>

{{ dummy }}
